 .App {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
 
}

.button{
  width: 10%;
  height: 40px;
  border-radius: 12px;
  background-color: rgb(29, 183, 183);
  color: white;
  transition: 0.3s;
  margin-right: 80%;
  @media screen and (max-width: 600px){
    font-size: 10px;
    height: 25px;
    
  }
}
.button:hover{
  color:red;
}
